In [1]:
#importing the Libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Reading the dataset
dataset=pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
indep=dataset[['age','bmi','children','sex_male','smoker_yes']]
dep=dataset['charges']

In [8]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor 
param_grid={'criterion':['mse','mae'],
            'max_features': ['auto','sqrt','log2'],
            'n_estimators':[10,100]}

grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1)

# fitting the model for grid search
grid.fit(indep, dep)

C:\Users\TamilaE\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.

Fitting 3 folds for each of 12 candidates, totalling 36 fits

[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    3.0s
[Parallel(n_jobs=-1)]: Done  34 out of  36 | elapsed:    4.6s remaining:    0.2s
[Parallel(n_jobs=-1)]: Done  36 out of  36 | elapsed:    4.9s finished

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                             max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators='warn', n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [10]:
# print best parameter after tuning
#print(grid.best_params_)

re=grid.cv_results_

print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'mse', 'max_features': 'log2', 'n_estimators': 100}:

In [11]:
table = pd.DataFrame.from_dict(re)

In [12]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.029462,0.002952,0.004562,0.003274,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.828212,0.826916,0.793491,0.816206,0.016071,8
1,0.259519,0.008089,0.012930,0.004398,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.842915,0.824996,0.820119,0.829344,0.009801,5
2,0.026090,0.008707,0.006254,0.002671,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.827784,0.816546,0.792055,0.812129,0.014917,11
3,0.182976,0.006079,0.008262,0.008994,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.839409,0.841150,0.819803,0.833454,0.009679,2
4,0.020389,0.006420,0.001967,0.001392,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.829224,0.819361,0.807086,0.818557,0.009056,7
5,0.191038,0.000472,0.010145,0.002732,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.846460,0.839463,0.817257,0.834393,0.012449,1
6,0.189585,0.011468,0.003672,0.002871,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.805456,0.824619,0.796733,0.808936,0.011647,12
7,1.656862,0.010312,0.007459,0.003865,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.826043,0.832395,0.816482,0.824973,0.006540,6
8,0.098993,0.002933,0.004679,0.006616,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.822647,0.816792,0.807428,0.815622,0.006268,9
9,0.981187,0.007921,0.015415,0.000662,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.842065,0.836876,0.819040,0.832660,0.009861,3
10,0.105874,0.009254,0.000000,0.000000,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.823208,0.820184,0.802612,0.815335,0.009081,10
11,0.898358,0.089393,0.006781,0.003839,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.841070,0.834807,0.818804,0.831560,0.009376,4

In [13]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:55
BMI:77
Children:1
Sex Male 0 or 1:0
Smoker Yes 0 or 1:1

In [14]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])

#change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[51604.5923321]